	* { margin:0; padding:0; outline:none; }
#mainDiv { border:1px; width:95%; padding:0 0; position:relative;}
#lp_form  { width:100%; height:270px; padding:0 0; }
#lp_view  { width:95%px; height:50px; padding:0 0; }
#newForm  { float:left; }
#searchForm  { float:right; }
form fieldset  { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:1.2em; margin:0px 0px 0px 0px; width:100%; height:auto; border:0;display:block; padding: 0px 0px 0px; }
em    { position:relative;float:left; font-weight: bold; width:5px; vertical-align: top; color: red}
label.mandatory  { float:left; padding-left:3px;}
label.forTextArea { width:10.3em;}
label.forDtField  { width:10.3em; padding-left:3px;}
label.error  { position:relative; float:right; font-weight:normal; color:red; text-align:left; width:66%; padding-right:30px; padding-top:5px; }
label.searchError  { position:relative; float:left; font-weight:normal; color:red; text-align:left; width:250px;}
label.oprResultError { font-weight:bold; color:red; text-align:left; width:450px; padding-left:127px; float:left;}
label.searchLabel  { width:45px; padding-top:5px; }
input  { position:relative;}
input.text-input { margin:4px;padding:2px 0;color:#333; }
input.saveButton,input.updateButton { position:relative; width:100px; left:5px; padding:5px 6px; border:2px solid #fff; margin:30px 0px 0px 0px; color:#3D7169; float:left;}
input.deleteButton  { position:relative; width:100px; left:10px; padding:5px 6px; border:2px solid #fff; margin:30px 0px 0px 0px; color:#3D7169; float:left;}
input.cancelButton  { position:relative; width:100px; left:15px; padding:5px 6px; border:2px solid #fff; margin:30px 0px 0px 0px; color:#3D7169; float:left;}
input.addButton, input.searchButton { position:relative; width:100px; border:2px solid #fff; margin:0px 0px 0px 0px; color:#3D7169; }
input.button:hover  { background:#009FAA none repeat scroll 0% 0%; color:white; }
span.errors{color:red; text-align:left; width:auto;padding-top:5px; }
select.form-select { margin:4px;padding:2px 0;}
input.form-input  { margin:4px;padding:2px 0;color:#333; }
#selectedComponent { margin:8px;}
div.actionMsg {color:green;}
div.errorMsg {color:red;}
div.note {margin-top:10px;}
label.learningoffering {float:left; width:12em; padding-left:8px; }
span.highlight{background:yellow;}
/*=========== ************************* ===============*/
/*=========== From master_layout Css File ===============*/
/*=========== ************************* ===============*/
@font-face {
    font-family: Segoe;
    src: url(SEGUISB.TTF);
}
body {
    color: #545454 !important;
	font-family: Tahoma !important;
    font-size: 11px !important;
    margin: 0;
    background-color:#FFFFFF;
}
.ple-font{
	color: #FFFFFF !important;
	font-family: Tahoma !important;
    font-size: 12px !important;
}
.ple-preformatted-text label {
	color: #545454 !important;
	font-family: Tahoma !important;
    font-size: 13px !important;
}
.ple-font-specs {
	color: #545454 !important;
	font-family: Tahoma !important;
    font-size: 11px !important;
}
.ple-header {
    background-image: url("../images/header-bg.png");
    background-repeat: repeat-x;
    float: left;
    height: 69px;
    width: 100%;
    min-width: 1210px !important;
}
.ple-header-inner-wrapper {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    height: 69px;
    margin-left: auto;
    margin-right:6%;
    width:90%;
}
.ple-header-logo {
    background-image: url("../images/admin-logo.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    float: left;
    height: 36px;
    margin-left: 20px;
    margin-top: 18px;
    width: 66px;
}
.ple-header-link-wrapper {
    background-image: url("../images/header-link-bg.png");
    background-position: left top;
    background-repeat: no-repeat;
    color: #FFFFFF;
    float: right;
    height: 27px;
    padding-right: 0px;
    padding-top: 5px;
    text-align: right;
}
.ple-header-link-wrapper a {
    color: #FFF;
    text-decoration: none;
}
.ple-header-link-wrapper a:hover {
    color: #FFF;
    text-decoration: underline;
}
.ple-help {
	background-image: url("../images/help.png");
    background-repeat: no-repeat;
    float: right;
    margin-left: 14px;
    margin-top: 1px;
    padding-top: 16px;
    width: 16px;
}
.ple-bold {
	font-weight: bold;
}
/******	Navigation Bar ***/
.ple-navBar {
    background-color: #0B2652;
    float: left;
    height: 35px;
    width: 100%;
}
.ple-navBar-inner-wrapper {
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22px;
    width: 978px;
}
/******	Breadcrumb ***/
.ple-BreadCrumb {
	color: #333333;
    height: 20px;
    margin-bottom: 4px;
    padding-bottom: 6px;
    padding-top: 10px;
    float: left;	
    width:100%;
}
.ple-BreadCrumb ul{
	list-style: none outside none;
    margin: 0;
    padding: 0;	
}
.ple-BreadCrumb ul li{
	display: inline;	
}
.ple-BreadCrumb ul li a{
	background-image: url("../images/breadcrumb-arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    color: #2298CA;
    margin-left: 4px;
    margin-right: 4px;
    padding-right: 17px;
    text-decoration: none;
}
.ple-BreadCrumb ul li a:hover{
	background-image: url("../images/breadcrumb-arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    color: #2F6681;
    margin-left: 4px;
    margin-right: 4px;
    padding-right: 17px;
    text-decoration: underline;
}
.ple-BreadCrumb ul li label{
	background-image: url("../images/breadcrumb-arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    color: #2298CA;
    margin-left: 4px;
    margin-right: 4px;
    padding-right: 17px;
    text-decoration: none;
}
.ple-BreadCrumb ul li label:hover{
	background-image: url("../images/breadcrumb-arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    color: #2F6681;
    margin-left: 4px;
    margin-right: 4px;
    padding-right: 17px;
    text-decoration: none;
}
/******	Content Header ***/
.ple-mainContent-header-wrapper {
    float: left;
    line-height: 35px;
    width: 99%;
    margin-bottom: 20px;
}
.ple-mainContent-header-title {
    float: left;
    line-height: 35px;
    font-size: 23px;
}
.ple-container {
	 margin-left: auto;
    margin-right: auto;
    min-height: 600px;
    padding-left: 22px;
    padding-right: 22px;
    width: 990px;
/*     background-position: center 20px;
    background-image:none !important;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    position: relative;
    width: 90%;
    min-width:1150px; */
}
/******	Main Content ***/
.ple-mainContent-wrapper {
	float: left;
	width: 100%;
	margin-bottom: 90px;
}
/* action message css */
.ple-delete-message
{
    background-color: #F8DADA;
    background-image: url("../images/delete_icon.png");
    background-position: 7px 6px;
    background-repeat: no-repeat;
   	border: 1px solid #DECCCC;
}
.ple-success-message {
    background-color: #E5F1CF;
    background-image: url("../images/tickmark_icon.png");
    background-position: 7px 6px;
    background-repeat: no-repeat;
    border: 1px solid #D9E3C5;
}
.ple-message {
    float: left;
    font-family: Segoe;
    font-size: 15px;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
    margin-top: 15px;
    padding-left: 40px;
    width: 96%;
}
/*------ Create Button --------------*/
.ple-buttonSmall-wrapper {
    float: left;
    line-height: 23px;
    width: auto;
}
.ple-buttonSmall-left {
    background-image: url("../images/btn_graysmall_normal_l.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 22px;
    width: 2px;
}
.ple-buttonSmall-right {
    background-image: url("../images/btn_graysmall_normal_r.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 22px;
    width: 2px;
}
.ple-buttonSmall-middle {
    background-image: url("../images/btn_graysmall_normal_m.png");
    background-position: center center;
    background-repeat: repeat-x;
    float: left;
    height: 22px;
}
.ple-buttonSmall-wrapper:hover .ple-buttonSmall-left {
    background-image: url("../images/btn_graysmall_hover_l.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 22px;
    width: 2px;
}
.ple-buttonSmall-wrapper:hover .ple-buttonSmall-right {
    background-image: url("../images/btn_graysmall_hover_r.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 22px;
    width: 2px;
}
.ple-buttonSmall-wrapper:hover .ple-buttonSmall-middle {
    background-image: url("../images/btn_graysmall_hover_m.png")!important;
    background-position: center center;
    background-repeat: repeat-x;
    float: left;
    height: 22px;
}
.ple-buttonSmall {
    border: medium none!important;
    color: #545454!important;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 3px;
    padding-top: 3px;
    text-shadow: 1px 1px #FFFFFF!important;
    background: none repeat scroll 0 0 transparent !important;
}
.ple-button-create-label{
width:auto;
}
.ple-button-create-button-left {
    background-image: url("../images/button_left_curve.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 34px;
    width: 5px;
}
.ple-button-create-button-right {
    background-image: url("../images/button_right_curve.png");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    height: 34px;
    width: 5px;
}
.ple-button-create-button-middle {
    background-image: url("../images/button_middle_bg.png");
    background-position: center center;
    background-repeat: repeat-x;
    float: left;
    height: 34px;
    padding: 0 5px;
}
.ple-button-create-label:hover .ple-button-create-button-left {
    background-image: url("../images/button_hover_left_curve.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 34px;
    width: 5px;
}
.ple-button-create-label:hover .ple-button-create-button-right {
    background-image: url("../images/button_hover_right_curve.png");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    height: 34px;
    width: 5px;
}
.ple-button-create-label:hover .ple-button-create-button-middle {
    background-image: url("../images/button_middle_bg_hover.png");
    background-position: center center;
    background-repeat: repeat-x;
    float: left;
    height: 34px;
    padding: 0 5px;
}
input#ple-button-create-input {
    background-color: transparent!important;
    background-image: url("../images/add_icon.png");
    background-position: 1px 4px;
    background-repeat: no-repeat;
    border: medium none;
    color: #FFFFFF!important;
    font-family: Segoe;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    /*padding: 7px 5px 6px 25px!important;*/
    padding: 7px 5px 6px 25px;
    text-shadow: 1px 1px #666666!important;
}
.ple-fieldset {	
 	border: 0;
 }
.ple-h1, .ple-h2, .ple-h3 {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.ple-h1{
	font-size: 23px;
	color: #212223;
	font-weight: normal;
}
.ple-h2   {
	font-size: 15px;
	color: #005E82;
}
.ple-header-title {
	float: left;
	height: 20px;
	margin-bottom: 15px;
	padding-bottom: 6px;
	padding-top: 10px;
	width: 550px;
}
.ple-subheader-title{
	background-image: url("../images/bdr-01.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    height: 20px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 20px;
    width: 50%;
}
.ple-footer {
	background-color: #1e415f;
	float: left;
	height: 28px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	margin-top: 25px;
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}
.ple-note {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	padding-top:2px;
	color: #2F6681;
}
.ple-icon-expand {
	background-image: url("../images/icon_expand.png");
	background-repeat: no-repeat;
	padding-top:15px;
	margin-left:2px;
}
.ple-icon-collapse {
	background-image: url("../images/icon_collapse.png");
	background-repeat: no-repeat;
	padding-top:15px;
	margin-left:2px;
}
a.ple-expand-collapse-anchor {
	text-decoration:none;
}
a.ple-expand-collapse-anchor:hover {
	text-decoration:none;
}
.portlet {
	border:none;
	padding:0px;
}
.portlet-content {
	padding:0px 0px 0px;
}
/* BEGIN : CSS for selected row */
.ple-selected-row {
	background-color: #D4EAAE !important;
	border: 1px solid #C5CAB4;
}
tr.ple-selected-row td.sorting_1 {
	background-color: #D4EAAE !important;
}
/* BEGIN : CSS for details row */
.ple-row-details {
	color: #545454 !important;
	font-family: Tahoma !important;
    font-size: 11px !important;
    background-color: #E6F1C9;
    border: 1px solid #C5CAB4;
    padding: 4px 4px 4px 40px !important;
    word-wrap: break-word;
}
/* BEGIN : details CSS */
.ple-details-main {
    border-bottom: 1px solid #CAD99E;
}
.ple-details-col-right-border {
    border-right: 1px solid #FFFFFF !important;
    padding: 5px 4px !important;  
}
.ple-details-col-left-border {
    border-left: 1px solid #CAD99E !important;
    padding: 5px 11px !important;
}
.ple-details-tables {
	width:100%;
    border:0px;
    padding:5px;
}
.ple-details-data{
	width:auto;
    float:left;
}
/* BEGIN : Custom details CSS */
.ple-details-custom {
	width:100%;
	float:left;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #CAD99E;
}
.ple-details-custom-border{
	border-top: 1px solid #FFFFFF;
}
.ple-details-custom-description {
	float:left;
    width: 100%;
    padding: 3px;
}
.ple-details-custom-failed-block {
	background-color : #FAFCF4 ;
	border: 1px #BBD084 solid;
	margin-top: 2px;
	margin-bottom: 2px;
	float: left;
    width: 99%;
    padding-top: 3px;
}
.ple-details-custom-failed-header {
	font-weight: bold;
	font-size: 12px;
	color: #005D84;
	padding-bottom: 4px;
	font-family: Tahoma!important;
}
.ple-details-custom-failed-block-table {
	border: none;
	width: 100%;
}
table {
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;
	table-layout: fixed;
	font-family: Tahoma !important;
    font-size: 11px !important;
}
.ple-details-custom-failed-error {
	background-image : url("../images/ico_failed.png");
	background-repeat: no-repeat;
	color: #FF0000;
	padding-left:21px;
}
/* BEGIN : Audit details CSS */
.ple-details-audit {
    width:100%;
    padding-top: 3px;
    float:left;
}
.ple-details-audit-border {
	border-top: 1px solid #FFFFFF;
}
.ple-details-audit-col {
    float:left;
    max-width: 46%;
    padding: 3px;
    width:46%;
}
.ple-details-audit-label {
    font-weight:bold;
    float:left;
    width:auto;
    padding-right:10px;
}
.ple-details-audit-data {
    width:auto;
    float:left;
    max-width:450px;
    word-wrap:break-word;
}
.ple-vertical-align {
	vertical-align:top;
}
.ple-emailTxtBx {
	display:none;
}
.ui-widget {
    color: #545454 !important;
	font-family: Tahoma !important;
    font-size: 11px !important;
}
.ui-widget-content {
    color: #545454 !important;
}
/*=========== ************************* ===============*/
/*=========== From ple_tree Css File ===============*/
/*=========== ************************* ===============*/
.ple-tree-wrapper {
    float: left;
    margin-right: 11px;
    width: 23%;
    height:auto;
}
.ple-tree-search-container{
	float: left;
	width:75%;
}
.ple-tree-search-header-left {
    background-image: url("../images/search_bar_left_curve.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 46px;
    width: 7px;
}
.ple-tree-search-header-right {
    background-image: url("../images/search_right_side.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 46px;
    width: 7px;
}
.ple-tree-search-header-middle {
    background: url("../images/search_bar_middle_bg.png") repeat-x scroll 0 0 transparent;
    float: left;
    height: 46px;
    width:94%
}
.ple-tree-search-header-middle .ple-search-wrapper {
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    width: 210px !important;
}
.ple-tree-search-header-middle .ple-search-box {
    width: 177px !important;
}
.ple-tree-legend-wrapper {
    background: url("../images/expand_all_bar_bg.png") repeat-x scroll 0 0 transparent;
    border-left: 1px solid #8FA6B6;
    border-right: 1px solid #8FA6B6;
    border-top: 1px solid #8FA6B6;
    float: left;
    width:98.4%
}
.ple-tree-legend-wrapper .ple-legends-wrapper {
    float: left;
    height: 19px;
    margin: 6px 8px;
   width: 94%;
}
.ple-selected {
    background-image: url("../images/icon_selected.png");
    background-position: left 3px;
    background-repeat: no-repeat;
    color: #2298CA;
    float: left;
    line-height: 19px;
    margin-right: 10px;
    padding-left: 19px;
}
.ple-published {
    background-image: url("../images/icon_publish.png");
    background-position: left 3px;
    background-repeat: no-repeat;
    color: #2298CA;
    float: left;
    line-height: 19px;
    padding-left: 19px;
}
.ple-tree-buttons {
    background-color: #E3E8EE; 
    border-top: 1px solid #8FA6B6;
    border-bottom: 1px solid #8FA6B6;
    border-left: 1px solid #8FA6B6;
    border-right: 1px solid #8FA6B6;
    float: left;
    height: 24px;
    padding: 8px 0px 8px 0px;
    width: 98.3%;
}
.ple-buttonSmall-wrapper-multiple {
    margin-left: 10px;
}
.ple-tree-container {
    float: left;
    margin-bottom: 30px;
}
.ple-tree {
    float: left;
    border-left: 1px solid #8FA6B6;
    border-right: 1px solid #8FA6B6;
    border-bottom: 0px; 
    border-top: 1px solid #c7d2e2;
    padding: 10px 2px 10px 10px;
    width:94.3%;
}
span.dynatree-icon {
    background-image: url("../images/icon_book.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 14px;
    width: 16px;
}
.dynatree-ico-cf span.dynatree-icon {
    background-image: url("../images/icon_asset.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 15px;
    width: 15px;
}
.dynatree-ico-ef span.dynatree-icon {
    background-image: url("../images/icon_asset_select.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 16px;
    width: 15px;
}
span.dynatree-dissociate span.dynatree-icon {
    background-image: url("../images/icon_book_disable.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 14px;
    width: 16px;
}
span.dynatree-header-icon {
    background-image: url("../images/icon_globe.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 23px;
    margin-right: 10px;
    width: 23px;
}
div.ple-tree-header {
    font-weight: bold;
    line-height: 23px;
    color: #545454;
    font-family: Tahoma;
    font-size: 11px;
}
span.dynatree-dissociate a {
    background-color: #E6F1C9 !important;
    color: white !important;
}
span.dynatree-publishIcon {
    background-image: url("../images/icon_star.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 14px;
    width: 16px;
}
.dynatree-exp-cl span.dynatree-expander, span.dynatree-expander {
    background-image: url("../images/arrow_white_right.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 15px;
    width: 15px;
}
.dynatree-exp-cd span.dynatree-expander, .dynatree-exp-el span.dynatree-expander, .dynatree-exp-edl span.dynatree-expander, .dynatree-exp-e span.dynatree-expander, .dynatree-exp-ed span.dynatree-expander {
    background-image: url("../images/arrow_blue_down.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 15px;
    width: 15px;
}
.dynatree-exp-cd span.dynatree-expander:hover, .dynatree-exp-el span.dynatree-expander:hover, .dynatree-exp-edl span.dynatree-expander:hover, .dynatree-exp-e span.dynatree-expander:hover, .dynatree-exp-ed span.dynatree-expander:hover {
    background-image: url("../images/arrow_blue_down.png")!important;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 15px;
    width: 15px;
}
.dynatree-exp-cl span.dynatree-expander:hover, span.dynatree-expander:hover {
    background-image: url("../images/arrow_white_right.png")!important;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 15px;
    width: 15px;
}
span.dynatree-folder a {
    font-weight: normal;
}
ul.dynatree-container {
    border: medium none;
    padding: 0 3px;
    min-height: 360px;
    height: auto;
}
span.dynatree-activated {
    background-color: #d2e3ac;
    float: left;
    width: 145px;
}
span.dynatree-active a, ul.dynatree-container a:focus, span.dynatree-focused a:link {
    background-color: #d2e3ac !important;
    color: #545454 !important;
}
.is_update_operation {
	padding-top: 10px;
	padding-left: 5px;
}
.ple-save-wrapper {
    padding: 10px 76px;
}
.ple-save-back-wrapper {
    width: 50%;
}
ul.dynatree-container a:hover {
    background-color: #d2e3ac;
}
ul.dynatree-container {
    white-space: normal;
}
span.dynatree-connector {
    float: left;
    padding: 5px 0;
}
span.dynatree-node {
    float: left;
    padding: 2px 0;
}
span.dynatree-icon {
    float: left;
    padding: 5px 0;
}
span.dynatree-node a {
    color: #545454;
    font-family: Tahoma;
    font-size: 11px;
    width: 150px;
    float: left;
    padding: 5px 0;
    word-wrap: break-word;
}
span.dynatree-expander{
    float: left;
    padding: 5px 0;
}
span.addPublishCss a{
	background-color: #F5DFA6 !important;
}
span.removeAsset a{
	color: #BCBDC1 !important;
}
ul.dynatree-container img {
    border-style: none;
    float: left;
    float:left;
    padding-top:5px;
    margin-left: 3px;
    padding-top: 5px;
    vertical-align: top;
}
ul.dynatree-container .rootNode img{
    height: 23px;
    width: 23px;
}
/*=========== ************************* ===============*/
/*=========== From Ple_data_table Css File ===============*/
/*=========== ************************* ===============*/
table.display thead th {
    background-attachment: scroll;
    background-color: #103555!important;
    background-image: url("../images/grid-header-bg.png")!important;
    background-position: left top;
    background-repeat: repeat-x;
    color: #FFFFFF!important;
    cursor: pointer;
    font-size: 12px!important;
    font-weight: bold!important;
    padding: 5px 0 5px 8px;
}
tr.even {
	background-color: #FFFFFF;
	border-bottom: 1px solid #CBD8E1;
	height: 30px;
}
tr.odd {
	background-color: #F1F4F9;
	border-bottom: 1px solid #CBD8E1;
	height: 30px;
}
tr.odd td.sorting_1 {
	background-color: #E5EAF1;
}
tr.even td.sorting_1 {
    background-color: #E9EEF4;
}
.ui-state-default .ui-icon {
    background-image: url("../images/ui-icons_222222_256x240.png") !important;
}
.dataTables_length {
    background-position: 169px center;
    background-repeat: no-repeat;
    padding: 3px 10px;
    width: auto !important;
}
.dataTables_info {
    width: auto !important;
}
.ui-buttonset {
    margin-right: 0 !important;
    padding-right: 0px;
    padding-top: 0px;
}
.ui-buttonset .ui-button {
    height: 23px;
    margin-left: 0;
    margin-right: -0.3em;
    background-color: #1E415F !important;
    color: #FFFFFF !important;
    background: none;
}
.ui-button {
    background-color: #1E415F !important;
    height: 23px;
    margin-left: 0;
    margin-right: -0.3em;
}
.dataTables_wrapper .ui-widget-header {
   	background: none repeat scroll 0 0 #4D6D86 !important;
    border-color: #0A2E50 !important;
    border-style: solid none none !important;
    border-width: 3px medium medium !important;
    color: #FFFFFF !important;
    height: 29px 
}
.dataTables_wrapper {
    min-height: 100px!important;
}
.ui-corner-bl {
    border-bottom-left-radius: 0px !important;
}
.ui-corner-tl {
    border-top-left-radius: 0px !important;
}
.ui-corner-br {
    border-bottom-right-radius: 0px !important;
}
div.dataTables_paginate a.ui-state-default {
	background: none repeat scroll 0 0 #1E415F !important;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-top: none !important;
    border-bottom: none !important;
    color: #FFFFFF !important;
    font-weight: normal;
}
.dataTables_paginate {
    width: auto !important;
    color: #FFFFFF !important;
}
/*=========== ************************* ===============*/
/*=========== From ple_popup Css File ===============*/
/*=========== ************************* ===============*/
.ui-dialog-titlebar .ui-dialog-title {
	 color: #FFFFFF;
    font-family: Segoe!important;
    font-size: 16px!important;
    padding-top: 2px!important;
    font-weight: normal!important;
}
.ui-dialog .ui-widget-header {
	background: url("../images/popup_blue_heading bg_middle.png") repeat-x scroll 0 0 transparent!important;
	height: 28px;
}
.ui-dialog .dataTables_wrapper .ui-widget-header {
	background: none repeat scroll 0 0 #4D6D86 !important;
    border-color: #0A2E50 !important;
    border-style: solid none none !important;
    border-width: 3px medium medium !important;
    color: #FFFFFF !important;
    font-weight: bold !important;
    height: 29px	
}
.ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none!important;
    padding-left: 40%!important;
    padding-right: 30%!important;
}
.ui-dialog-buttonset .ui-button {
 	background-image: url("../images/btn_gray_normal_m.png")!important;
    background-position: center center;
    background-repeat: repeat-x;
    float: left;
    height: 28px;
    color: #2F2F2F!important;
    font-family: Segoe!important;
    font-size: 13px!important;
    font-weight: bold!important;
    text-shadow: 1px 1px #FFFFFF!important;
    margin: 0.5em 1.4em 0.5em 0 !important;
 }
 .ui-dialog-buttonset .ui-button:hover{
 	background-image: url("../images/btn_gray_hover_m.png")!important;
    background-position: center center;
    background-repeat: repeat-x;
    float: left;
    height: 28px;
    color: #2F2F2F!important;
    font-family: Segoe!important;
    font-size: 13px!important;
    font-weight: bold!important;
    text-shadow: 1px 1px #FFFFFF!important;
 }
.ple-popup-container {
    float: left;
    width: 100%;
}
.ui-dialog .ui-dialog-buttonpane {
	border-width: 0 0 0!important;
}
.ple-alert-popup {
	text-align:center;
	font-size:1.3em;
}
.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 11px;
    overflow: visible;
    padding: 0.5em 1em;
    position: relative;
    color: #545454 !important;
	font-family: Tahoma !important;
}
/*=========== ************************* ===============*/
/*=========== From ple_Search&Legends Css File ===============*/
/*=========== ************************* ===============*/




.ple-searchContent-wrapper {
    float: left;
    width: 100%;
}

.ple-search-changeStatus-wrapper {
    background: url("../images/search_bar_middle_bg.png") repeat-x scroll 0 0 transparent;
    float: left;
    height: 46px;
    width: 97.9%;
}

.ple-search-changeStatus-header-left {
    background-image: url("../images/search_bar_left_curve.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 46px;
    width: 7px;
}

.ple-search-changeStatus-header-left-straight
{
	background-image: url("../images/search_left_side.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 46px;
    width: 7px;
}

.ple-search-changeStatus-header-right {
    background-image: url("../images/search_bar_right_curve.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 46px;
    width: 7px;
}

.ple-search-wrapper {
    float: left;
    height: 24px;
   margin: 11px 0 10px;
    width: auto;
}

.ple-search-box {
    border-color: #adb7bd;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    float: left;
    height: 24px !important;
    width: 230px;
}

.ple-search-box-defaultTextActive {
	color: #a1a1a1; 
	font-style: italic !important;
	 }

.ple-search-arrow {
    background-image: url("../images/search-arrow.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    float: left;
    height: 24px;
    width: 25px;
    cursor:pointer;
}

input.ple-button-search	{ 
						  background-image: url("../images/search-btn.png")!important;
					   	  background-position: center center;
					      background-repeat: no-repeat;
					      border: 0 none!important;
					      color: #3D7169;
					      float: left;
					      height: 24px;
					      width: 26px;
					      border-radius: 0 0 0 0 !important;
						   }
input.ple-button-search:hover{
							  background-image: url("../images/search-btn-hover.png");
					   		  background-position: center center;
					    	  background-repeat: no-repeat;
					    	  border: 0 none;
					   		  color: #3D7169;
					   		  float: left;
					   		  height: 24px;
					   		  width: 26px;
					    	}
					    				    	

.ple-changeStatus-wrapper {
    float: right;
    height: 24px;
    margin: 11px 6px 10px;
    width: auto;
}

/***
***	Button Change Status
***/

.ple-button-changeStatus-wrapper {
    float: right;
    line-height: 23px;
    width: auto;
}

.ple-button-changeStatus-left {
    background-image: url("../images/btn_graysmall_normal_l.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 22px;
    width: 2px;
}

.ple-button-changeStatus-right {
    background-image: url("../images/btn_graysmall_normal_r.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 22px;
    width: 2px;
}
.ple-button-changeStatus-middle {
    background-image: url("../images/btn_graysmall_normal_m.png");
    background-position: center center;
    background-repeat: repeat-x;
    float: left;
    height: 22px;
}

.ple-button-changeStatus-wrapper:hover .ple-button-changeStatus-left {
    background-image: url("../images/btn_graysmall_hover_l.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 22px;
    width: 2px;
}

.ple-button-changeStatus-wrapper:hover .ple-button-changeStatus-right {
    background-image: url("../images/btn_graysmall_hover_r.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 22px;
    width: 2px;
}
.ple-button-changeStatus-wrapper:hover .ple-button-changeStatus-middle {
    background-image: url("../images/btn_graysmall_hover_m.png");
    background-position: center center;
    background-repeat: repeat-x;
    float: left;
    height: 22px;
}

input.ple-button-changeStatus {
    background-color: transparent!important;
    border: medium none!important;
    color: #545454!important;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 3px;
    padding-top: 3px;
	text-shadow: 1px 1px #FFFFFF!important;
	background-image:none!important;
}

/********************************************/
.ple-dropdown-changeStatus {
    float: right;
    margin-right: 20px;
    line-height: 25px;
}
.ple-dropdown-changeStatus select {
    width: 100px;
}

.ple-changeStatus {
    float: right;
    font-weight: bold;
    line-height: 23px;
    margin-right: 10px;
}

.ple-sendEmail {
    float: right;
    font-weight: bold;
    line-height: 23px;
    margin-right: 20px;
}
.ple-sendEmail-chkBox
{
	float: right;
    line-height: 27px;
    margin-right: 6px;
}

.ple-expand-legend-wrapper{
	    background: url("../images/expand_all_bar_bg.png") repeat-x scroll 0 0 transparent;
		border-left: 1px solid #ADB7BD;
    	border-right: 1px solid #ADB7BD;
    	border-top: 1px solid #ADB7BD;
    	float: left;
    	width: 99%;
    	height:32px;
	}
	
.ple-expand-wrapper {
    float: left;
    height: 16px;
    margin: 8px 18px 7px;
    width: 300px;
}

.ple-expand{
    background-image: url("../images/icon_expand.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    color: #2298CA;
    float: left;
    line-height: 16px;
    margin-right: 10px;
    padding-left: 19px;

}

.ple-collapse {
    background-image: url("../images/icon_collapse.png");
    background-position: left 1px;
    background-repeat: no-repeat;
	    color: #2298CA;
    float: left;
    line-height: 16px;
    padding-left: 19px;
}


/*****
****ple-Legends
*****/

.ple-legends-wrapper {
    float: right;
    height: 20px;
    margin: 5px 8px 7px;
    width: auto;
}

.ple-legend {
    float: right;
    font-weight: bold;
    line-height: 20px;
    margin-right: 15px;
}

.ple-eol {
    background-image: url("../images/legends_eol.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    padding-left: 25px;
}


.ple-active {
    background-image: url("../images/legends_active.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    margin-right: 15px;
    padding-left: 25px;
}

.ple-inactive {
    background-image: url("../images/legends_inactive.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
	margin-right: 15px;
    padding-left: 25px;
}

.ple-live {
    background-image: url("../images/legends_live.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    margin-right: 15px;
    padding-left: 40px;
}

.ple-notlive {
    background-image: url("../images/legends_notlive.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
	margin-right: 15px;
    padding-left: 40px;
}

.ple-available {
    background-image: url("../images/legends_available.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    margin-right: 15px;
    padding-left: 25px;
}

.ple-assigned {
    background-image: url("../images/legends_assigned.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    margin-right: 15px;
    padding-left: 25px;
}

.ple-replied {
    background-image: url("../images/legends_assigned.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    margin-right: 15px;
    padding-left: 25px;
}
.ple-not-replied {
    background-image: url("../images/delete-icon.png");
    background-position: left 5px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    margin-right: 15px;
    padding-left: 25px;
}
.ple-icon-replied {
    background-image: url("../images/legends_assigned.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
 	width: 72px;
}
.ple-icon-not-replied {
    background-image: url("../images/delete-icon.png");
    background-position: left 5px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
 
}
.ple-emailed {
    background-image: url("../images/legends_emailed.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    margin-right: 15px;
    padding-left: 25px;
}

.ple-redeemed {
    background-image: url("../images/legends_redeemed.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    margin-right: 15px;
    padding-left: 25px;
}

.ple-revoked {
    background-image: url("../images/legends_revoked.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    margin-right: 15px;
    padding-left: 25px;
}

.ple-cancelled {
    background-image: url("../images/legends_cancelled.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    padding-left: 25px;
}

.ple-status-eol {
    background-image: url("../images/legends_eol.png");
	width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
	padding: 0 16px;
    text-align: center;
}

.ple-status-active {
    background-image: url("../images/legends_active.png");
	width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
	padding: 0 16px;
    text-align: center;
}

.ple-status-inactive {
    background-image: url("../images/legends_inactive.png");
	width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
	padding: 0 16px;
    text-align: center;
}

.ple-status-live {
    background-image: url("../images/legends_live.png");
	width: 20px;
	cursor:pointer;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
	padding: 0 16px;
    text-align: center;
}

.ple-status-notlive {
    background-image: url("../images/legends_notlive.png");
    cursor:pointer;
	width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
	padding: 0 16px;
    text-align: center;
}

.ple-status-cancelled {
	background-image: url("../images/legends_cancelled.png");
	width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
	padding: 0 16px;
    text-align: center;
}

.ple-status-assigned {
	background-image: url("../images/legends_assigned.png");
	width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
	padding: 0 16px;
    text-align: center;
}

.ple-status-available {
	background-image: url("../images/legends_available.png");
	width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
	padding: 0 16px;
    text-align: center;
}

.ple-status-emailed {
	background-image: url("../images/legends_emailed.png");
	width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
	padding: 0 16px;
    text-align: center;
}

.ple-status-redeemed {
	background-image: url("../images/legends_redeemed.png");
	width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
	padding: 0 16px;
    text-align: center;
}

.ple-status-revoked {
	background-image: url("../images/legends_revoked.png");
	width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
	padding: 0 16px;
    text-align: center;
}
/***********end of ple-legends****************/



label.ple-searchError       { position:relative; float:left; font-weight:normal; color:red; text-align:left; width:auto; padding-left: 5px;padding-top: 17px;}
label.ple-searchError       { position:relative; float:left; font-weight:normal; color:red; text-align:left; width:auto; padding-left: 5px;padding-top: 17px;}
.search-header-right       { position:relative; float:right; font-weight:normal; color:red; text-align:left; width:auto; padding-left: 5px;padding-top: 17px;}

.ple-updateError
{
    color: red;
    float: left;
    font-weight: normal;
    padding-left: 5px;
    padding-top: 17px;
    position: relative;
    text-align: left;
    width: auto;
}

.ple-record-added-msg
{
	position:relative;
	width:auto;
	float:left;
	color:green;
	padding-top: 15px;
}

.ple-error-msg
{
	position:relative;
	width:100%;
	float:left;
	color:red;
	padding-bottom:25px;
}


input.ple-search-text
{
	width:250px;
	height: 12px;
}

/************* advanced search css *******************/

.ple-advancedSearch-wrapper {
    background-color: #F1F4F9;
    border: 1px solid #ADB7BD;
    float: left;
    margin-bottom: 6px;
    padding: 15px;
    width:95.5%;
}

.ple-advancedSearch-wrapper-for-ManagementPage
{
	background-color: #F1F4F9;
    border: 1px solid #ADB7BD;
    float: left;
    margin-bottom: -1px;
    padding: 15px;
    width:96.3%;
}

.ple-advancedSearch-header-title {
    color: #005D84;
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 10px;
    font-family: Tahoma!important;
}

.ple-button-advancedSearch-close {
    background-color: transparent;
    background-image: url("../images/icon_cancel.png");
    background-position: left top;
    background-repeat: no-repeat;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 22px;
    width: 22px;
}

.ple-advancedSearch-row-wrapper {
    float: left;
    height: 30px;
    width: 100%;
}

.ple-advancedSearch-label {
    float: left;
    width: 46%;
}

.ple-advancedSearch-field {
    float: left;
    width: 50%;
}

.ple-advancedSearch-label-field-wrapper
{
	float: left;
    margin-right: 10px;
    width: 29%;
}

.ple-advanced-search-form-input
{
	padding: 2px 0!important;
	width: 100%!important;
}

.ple-advanced-search-form-select
{
	 width: 80px!important;
}

/*********** CSS related to SKU association ************/
.ple-custom-SKUmapping-expand-legend-wrapper
 {
 	width:99.3%!important;
 }
    
.ple-associate-wrapper {
    float: right;
    height: 24px;
    margin: 11px 6px;
    width: 80px;
}


/******** Custom CSS ***********/
.ple-custom-advancedSearch-currentValue-field
{
	width: 20%!important;
}

.ple-custom-advancedSearch-description-label-field-wrapper
{
	width:60%!important;
}

.ple-custom-advancedSearch-description-label
{
	width:22%!important;
}

.ple-custom-advancedSearch-description-field
{
	width:75%!important;
}


.ple-Student-legends ,.ple-User-legends{
    background-image: url("../images/role_Student.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    margin-right: 15px;
    padding-left: 25px;
}

.ple-Support-legends {
    background-image: url("../images/role_Support.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    margin-right: 15px;
    padding-left: 25px;
}

.ple-LPAdmin-legends {
    background-image: url("../images/role_LPAdmin.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    margin-right: 15px;
    padding-left: 25px;
}

.ple-CiscoAdmin-legends, .ple-Administrator-legends{
    background-image: url("../images/role_CiscoAdmin.png");
    background-position: left 1px;
    background-repeat: no-repeat;
    float: right;
    line-height: 20px;
    margin-right: 15px;
    padding-left: 25px;
}


.ple-Student ,.ple-User{
    background-image: url("../images/role_Student.png");
    background-position: center 1px;
    background-repeat: no-repeat;
    float: right;
    margin-right: 15px;
    padding-left: 25px;
}

.ple-Support {
    background-image: url("../images/role_Support.png");
    background-position: center 1px;
    background-repeat: no-repeat;
    float: right;
    margin-right: 15px;
    padding-left: 25px;
}

.ple-LPAdmin {
    background-image: url("../images/role_LPAdmin.png");
    background-position: center 1px;
    background-repeat: no-repeat;
    float: right;
    margin-right: 15px;
    padding-left: 25px;
}

.ple-CiscoAdmin , .ple-Administrator{
    background-image: url("../images/role_CiscoAdmin.png");
    background-position: center 1px;
    background-repeat: no-repeat;
    float: right;
    margin-right: 15px;
    padding-left: 25px;
}
/******** Custom CSS end***********/

/*=========== ************************* ===============*/
/*=========== From ple_tabs Css File ===============*/
/*=========== ************************* ===============*/
.ui-tabs .ui-tabs-panel {
	padding: 0em 0em!important;
}
.ui-tabs ul.ui-widget-header {
	background:none!important;
	border: 0 solid #FFFFFF!important;
}
.ui-tabs-nav .ui-state-default {
	background-image: url("../images/tab_bg_unselect.png")!important;
    background-position: center center!important;
    background-repeat: repeat-x!important;
}
.ui-tabs-nav .ui-state-active {
	background-image: url("../images/active-tab.png")!important;
    background-position: center center!important;
    background-repeat: repeat-x!important;
}
.ui-tabs .ui-tabs-nav li a {
	 font-weight: bold;
	 font-family: segoe;
	 color: #4D6D86;
	 padding: 0.6em 1.5em!important;
}
.ui-tabs .ui-helper-clearfix:after {
	position: fixed;
}
.ui-tabs .ui-tabs-nav li {
	margin: 0 0.5em 0 -2.5px!important;
}
.ple-header-container-forTab { 
    margin-left: auto;
    margin-right: auto;
    min-height: 80px;
    width: 100%;
}
/*=========== ************************* ===============*/
/*=========== From createForm Css File ===============*/
/*=========== ************************* ===============*/
.ple-form-description {
    background-color: #F1F4F9;
    border: 1px solid #D9E4E8;
    float: left;
    margin-bottom: 10px;
    padding: 6px;
    width:99%;
}
.ple-form-required-field {	
    color: #687281;
    font-size: 11px;
    margin-bottom: 15px;
    margin-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 4px;
    text-align: right;
}
.ple-form-wrapper {
	float: left;
	width: 1150px;
	margin-bottom: 90px;
}
.ple-form-wrapper .ple-form-row-wrapper {
	float: left;
	width: 1150px;
	margin-bottom: 15px;
}
.ple-form-wrapper .ple-form-row-wrapper .ple-form-field {
	float: left;
	width: 950px;
	font-size: 13px;
	color: #545454;
}
.ple-form-wrapper .ple-form-row-wrapper .ple-form-lable {
	float: left;
	width: 160px;
	margin-right: 15px;
	font-size: 13px;
	color: 545454;
}
.ple-insertDt {
	height:23px !important;
    width: 150px !important;
    color: #545454 !important;
    font-family: Tahoma !important;
    vertical-align: top;
    margin-right: 5px;
}
.required-fields {
    color: #FF0000;
    margin-right: 2px;
}
.calenderIcon {
	padding-left:0;
}
.ple-select {
    height: 23px;
    width: 150px;
    color: #545454 !important;
    font-family: Tahoma !important;
}
input.ple-text-input {
    height: 23px;
    width: 300px !important;
    color: #545454 !important;
    font-family: Tahoma !important;
}
textarea.ple-text-input {
	heigth:100px;
    resize: none !important;
    width: 300px;
    color: #545454 !important;
    font-family: Tahoma !important;
}
span.ple-errors{color:red; text-align:left; width:auto;padding-top:5px; }
/****** Form Buttons *******/
.ple-form-buttons {
    margin-left: 155px;
    margin-top: 15px;
    width: 400px;
}
.ple-buttons {
    float: left;
    margin-left: 100px;
    margin-top: 30px;
	height:30px;
	width:auto;
}
.ple-button-wrapper-multiple {
    margin-left: 15px;
    width:auto; 
}
.ple-button-left {
    background-image: url("../images/btn_gray_normal_l.png");
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    height: 30px;
    width: 3px;
}
.ple-button-right {
    background-image: url("../images/btn_gray_normal_r.png");
    background-position: left;
    background-repeat: no-repeat;
    float: left;
    height: 30px;
    width: 3px;
}
.ple-button-middle {
    background-image: url("../images/btn_gray_normal_m.png");
    background-position: center center;
    background-repeat: repeat-x;
    float: left;
    height: 30px;
}
.ple-button-wrapper:hover .ple-button-left {
    background-image: url("../images/btn_gray_hover_l.png");
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    height: 30px;
    width: 3px;
}
.ple-button-wrapper:hover .ple-button-right {
    background-image: url("../images/btn_gray_hover_r.png");
    background-position: left;
    background-repeat: no-repeat;
    float: left;
    height: 30px;
    width: 3px;
}
.ple-button-wrapper:hover .ple-button-middle {
    background-image: url("../images/btn_gray_hover_m.png");
    background-position: center center;
    background-repeat: repeat-x;
    float: left;
    height: 30px;
}
input.ple-button-save, input.ple-button-update, input.ple-button-cancel {
    background-color: transparent!important;
    border: medium none!important;
    color: #2F2F2F!important;
    font-family: Segoe;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 10px !important;
    text-align: center;
	text-shadow: 1px 1px #FFFFFF !important;
	background-image:none!important;
}
input.ple-button-advanced-search {
    background-color: transparent!important;
    border: medium none!important;
    color: #2F2F2F!important;
    font-family: Segoe;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 10px !important;
    text-align: center;
	text-shadow: 1px 1px #FFFFFF !important;
	background-image:none!important;
}
.ple-form-serach-icon {
	padding-left:7px
}
.ple-form-close-icon {
    padding-left: 7px;
}
.ple-form-disassosiate-icon {
	 padding-left: 7px;
}
.ple-uneditable-formFields{
	width: 330px;
	word-wrap: break-word;
}
.ple-blank-rows {
	width:100%;
	height: 30px;
}
/*******Custom CSS*******/
.ple-custom-currentValue-text-input {
  	width:75px!important;
  }
.ple-uneditable-input-field
{
	background-color:#E5E5E5!important;
	background-image: none!important;
}
select.dbookStatusIdForEdit {
    height: 20px;
    padding: 0;
    width: 85px;
}
/*=========== ************************* ===============*/
/*=========== From gridManagement Css File ===============*/
/*=========== ************************* ===============*/
.ple-grid-wrapper {
    border-left: 1px solid #8FA6B6;
    border-right: 1px solid #8FA6B6;
    border-bottom: 1px solid #8FA6B6; /*border-top: 1px solid #ccd5e4;*/
    border-top: 1px solid #c7d2e2;
    float: left;
    padding: 6px; /*width: 922px;*/
    width: 97.9%;
}
/***** Actions ******/
.ple-actions {
    margin: 0;
    padding: 0;
}
ul.ple-actions li {
    float: left;
    list-style-type: none;
}
.ple-icon-edit {
    background-image: url("../images/edit-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 22px;
    text-align: center;
    width: 25px;
}
.ple-icon-edit-disabled {
    background-image: url("../images/ico_edit_disabled.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 22px;
    text-align: center;
    width: 25px;
}
.ple-icon-association {
    background-image: url("../images/association-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 22px;
    text-align: center;
    width: 22px;
}
.ple-icon-preview {
    background-image: url("../images/preview-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    text-align: center;
    width: 20px;
}
.ple-icon-delete {
    background-image: url("../images/delete-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 22px;
    text-align: center;
    width: 25px;
}
.ple-icon-delete-disabled {
    background-image: url("../images/icon_delete_disabled.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 22px;
    text-align: center;
    width: 25px;
}
.ple-icon-disassociate {
	background-image: url("../images/disassociate-icon.png");
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	height: 22px;
	text-align: center;
	width: 22px;
}
.ple-icon-view-parentLP {
    background-image: url("../images/icon_view_parent_LP_sites.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    text-align: center;
    width: 25px;
}
.ple-icon-view-parentLP-disabled {
    background-image: url("../images/icon_view_parent_LP_sites_disabled.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 22px;
    text-align: center;
    width: 25px;
}
.ple-icon-view-deliveryLP {
    background-image: url("../images/icon_view_delivery_LP_sites.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    text-align: center;
    width: 25px;
}
.ple-icon-view-deliveryLP-disabled {
    background-image: url("../images/icon_view_delivery_LP_sites_disabled.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 22px;
    text-align: center;
    width: 25px;
}
.ple-icon-create-lo {
	background-image: url("../images/icon_create_lo.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    text-align: center;
    width: 25px;
}
.ple-icon-create-lo-disabled {
	background-image: url("../images/ico_createlo_disabled.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    text-align: center;
    width: 25px;
}
.ple-icon-view-access-code {
	background-image: url("../images/icon_view_access_code.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    text-align: center;
    width: 25px;
}
.ple-icon-history {
    background-image: url("../images/ico_history.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 22px;
    text-align: center;
    width: 25px;
}
table.display thead th div.DataTables_sort_wrapper {
		padding-left: 5px;
	}
/*=========== ************************* ===============*/
/*=========== From Common Css File ===============*/
/*=========== ************************* ===============*/